coverage==4.5.1
Django==1.11.23
edx-opaque-keys==0.4.4
futures==3.2.0 ; python_version < "3.0"
jsonfield==2.0.2
pylint==1.9.3
pycodestyle==2.4.0
mock==2.0.0
path.py==8.2.1
django-crum==0.7.3
django-fake-model==0.1.4
