name: Tutor Integration Tests
on: [pull_request]

jobs:
  integration-test:
    name: Tutor Integration Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tutor_version: ['<18.0.0', '<19.0.0', 'main']
    steps:
      - name: Run Integration Tests
        uses: eduNEXT/integration-test-in-tutor@main
        with:
          tutor_version: ${{ matrix.tutor_version }}
          app_name: 'eox-tenant'
          openedx_imports_test_file_path: 'eox_tenant/edxapp_wrapper/tests/integration/test_backends.py'
